/* .dashBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.dashBoard_container {
  width: 90%;
  height: 80%;
  /* text-align: center; */
  /* background: white; */
  /* color: var(--greyColor); */
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 2px 2px 20px rgb(175, 175, 175); */
  /* margin-top: 100px; */
}

.login_form_container h3 {
  /* color: var(--greyColor); */
  margin-bottom: 10px;
}

.input_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.input_container label {
  margin-bottom: 5px;
  color: var(--greyColor);
  font-weight: bold;
}
.input_container input {
  margin-bottom: 5px;
  background: var(--greyColor);
  border: 1px solid var(--greyDarkerColor);
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}
